.heading {
  font-size: 3.75rem;
  margin-top: 1.25rem;
  margin-bottom: 3.75rem;
}

.content-image {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 640px) {
  .heading {
    font-size: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 800px) {
  .content-container {
    display: flex;
  }

  .heading {
    text-align: end;
  }

  .content-text {
    flex: 1;
  }

  .content-image {
    margin-right: 4rem;
    align-self: flex-start;
  }
}

@media only screen and (min-width: 1050px) {
  .content-image {
    margin-right: 8rem;
  }
}
