.greeting:before {
  content: "";
  animation: animate infinite 36s;
}

@keyframes animate {
  0% {
    content: "Hi, I'm R.J.";
  }
  20% {
    content: "Hola, soy R.J.";
    color: #9dd52a;
  }
  40% {
    content: "こんにちは、私は R.J.";
    color: #ffbe00;
  }
  60% {
    content: "Xin chào, tôi là R.J.";
    color: #ac54aa;
  }
  80% {
    content: "Habari, mimi ni R.J.";
    color: #ffbe00;
  }
  100% {
    content: "Ciao! Sono R.J.";
    color: #9dd52a;
  }
}

.heading {
  font-size: 3.75rem;
  margin-top: 1.25rem;
  margin-bottom: 3.75rem;
}

.link {
  color: #3f51b6;
  text-decoration: underline 2px;
  text-underline-position: under;
  font-weight: 700;
}

.body-container {
  display: flex;
  flex-direction: column;
}

.hero-image {
  align-self: flex-end;
  margin-top: 5rem;
}

.arrow {
  color: #3f51b6;
}

@media only screen and (min-width: 640px) {
  .introduction-section {
    flex: 1 1;
  }

  .heading {
    font-size: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }

  .heading-description {
    width: 75%;
  }
}

@media only screen and (min-width: 750px) {
  .body-container {
    flex-direction: row;
  }
}
