.footer {
  margin-top: 3rem;
  display: flex;
}

/* .footer li {
  flex: 3;
}

.footer .copyright {
  flex: 1;
}

@media all and (max-width: 500px) {
  .footer li {
    flex-basis: 100%;
  }
}

@media all and (max-width: 1200px) {
  .footer li {
    flex: 1 1 50%;
  }

  .footer .copyright {
    flex: 0 2 50%;
  }
} */
