.header {
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.site-title {
  margin: 1.0625rem 0 2rem 0;
}

.title {
  color: #313131;
  font-size: 3.75vw;
  text-decoration: none;
  font-weight: 600;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #999999;
  font-size: 1rem;
  margin-left: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #313131;
}

@media only screen and (min-width: 640px) {
  .title {
    font-size: 3.25vw;
  }
}

@media only screen and (max-width: 640px) {
  .nav-list {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 920px) {
  .title {
    font-size: 2.75vw;
  }
}

@media only screen and (min-width: 1024px) {
  .title {
    font-size: 2.25vw;
  }
}
